.entry {
  border: 1px dashed gray;
  background-color: white;
  padding: 0.5rem 1rem;
}

.status {
  border: 1px dashed gray;
  background-color: white;
  padding: 0rem 0.5rem;
}

.moveCursor {
  cursor: move;
}

.pointerCursor {
  cursor: pointer;
}

.defaultCursor {
  cursor: default;
}

.itemDrag {
    opacity: 0
}

.itemNoDrag {
    opacity: 1
}

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
}

.upload {
    position: relative;
    border: 1px dashed gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload:hover,
.upload.dragover {
    opacity: 0.6;
}

.layoutUpload {
  display: none;
}

//Output & Download
.download-splits-name:hover{
  color: grey;
  cursor: pointer;
}

.download-button-icon {
  font-size: 20px;
  border: none;
  background-color: transparent;
}

.download-button-icon:hover{
  color: grey;
  cursor: pointer;
}

//Dropdown
.dropdown:focus{
  outline: none;
}

.dropdown-clear-icon{
  font-size: 20px;
  border: none;
  vertical-align: middle;
  background-color: transparent;
}

.dropdown-clear-icon:hover{
  color: grey;
  cursor: pointer;
}

//Textfield
.textfield-wrapper {
    position: relative;
    display: inline-block;
}

.textfield-wrapper input {
    padding-right: 20px;
}

.textfield-wrapper input:focus {
    outline: none;
}

.textfield-wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.textfield-active-button:hover{
  color: grey;
  cursor: pointer;
}

.textfield-disabled-button{
  color: grey;
}

.textfield-extra-button {
  position: absolute;
  font-size: 20px;
  margin-left: 1px;
  border: none;
  background-color: transparent;
}