//Variables
$color: white;
$bg-color: black;
$hover-color: grey;
$section-color: #b3b3ff;

//Body
body {
  background-color: $bg-color;
  color: $color;
  font-family: Arial, Helvetica, sans-serif;
}

//Flex Container
.flex-container {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 100px;
  justify-content: center;
}

.flex-item-1 {
  margin-left: 10%;
  width: 50%;
  box-sizing: border-box;
}

.flex-item-2 {
  margin-right: 10%;
  width: 50%;
  box-sizing: border-box;
}

.top-link{
  color: $color;
  text-decoration: none;
}

.top-link:hover{
  color: $hover-color;
  text-decoration: underline;
}

.sectionTitle{
  font-weight: bold;
  color: $section-color;
  margin-bottom: 0px;
}

//Reset
.reset-button{
  position: absolute;
  color: $color;
  font-size: 20px;
  border: none;
  background-color: transparent;
}

.reset-button:hover{
  color: $hover-color;
  cursor: pointer;
}

//Status
.status-header {
  font-weight: bold;
}

.status-red {
  color: #ff9999;
}

.status-green {
  color: #99ffcc;
}

.status-yellow {
  color: #ffcc99;
}

.status-blue {
  color: #99ccff;
}

//File Upload
.upload {
    position: relative;
    border: 1px solid $color;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload:hover,
.upload.dragover {
    opacity: 0.4;
}

.uploadButton {
  position: absolute;
  font-size: 40px;
  border: none;
  background-color: transparent;
}

.layoutUpload {
  display: none;
}

//Item Modal
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $color;
  background-color: rgba(0,0,0,0.4);
}

.modal-entry {
  background-color: $bg-color;
  margin: auto;
  padding: 10px;
  border: 1px solid $color;
  width: 50%;
}

.modal-entry h3{
  color: $section-color;
}

.modal-close-button {
  color: $color;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.modal-close-button:hover{
  color: $hover-color;
  text-decoration: none;
  cursor: pointer;
}

//List
.list-icon {
  font-size: 20px;
  color: $color;
  border: none;
  background-color: transparent;
}

.list-icon-active:hover{
  color: $hover-color;
  cursor: pointer;
}

.list-icon-disabled{
  color: $hover-color;
  cursor: default;
}

.list-box {
  border: 1px solid $color;
  padding: 0.5rem 0.5rem;
}

.list-entry {
  border: 1px solid $color;
  margin-bottom: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0rem;
}

.list-entry-text {
  font-weight: bold;
  color: $section-color;
}

.moveCursor {
  cursor: move;
}

.pointerCursor {
  cursor: pointer;
}

.defaultCursor {
  cursor: default;
}

.itemDrag {
    opacity: 0
}

.itemNoDrag {
    opacity: 1
}

//Comparisons
.comparison-icon {
  font-size: 20px;
  color: $color;
  border: none;
  background-color: transparent;
}

.comparison-icon:hover{
  color: $hover-color;
  cursor: pointer;
}

//Output & Download
.download-splits-name:hover{
  color: $hover-color;
  cursor: pointer;
}

.download-button-icon {
  font-size: 20px;
  color: $color;
  border: none;
  background-color: transparent;
}

.download-button-icon:hover{
  color: $hover-color;
  cursor: pointer;
}

//Dropdown
.dropdown:focus{
  outline: none;
}

.dropdown-clear-icon{
  font-size: 20px;
  color: $color;
  border: none;
  margin-left: -5px;
  vertical-align: middle;
  background-color: transparent;
}

.dropdown-clear-icon:hover{
  color: $hover-color;
  cursor: pointer;
}

//Textfield
.textfield-wrapper {
    position: relative;
    display: inline-block;
}

.textfield-wrapper input {
    padding-right: 20px;
}

.textfield-wrapper input:focus {
    outline: none;
}

.textfield-wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -5px;
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.textfield-active-button:hover{
  color: $hover-color;
  cursor: pointer;
}

.textfield-disabled-button{
  color: $hover-color;
}

.textfield-extra-button {
  position: absolute;
  color: $color;
  font-size: 20px;
  margin-left: -5px;
  margin-top: -1px;
  border: none;
  background-color: transparent;
}

.textfield-misc-button {
  position: absolute;
  color: $color;
  font-size: 20px;
  margin-left: 15px;
  margin-top: -1px;
  border: none;
  background-color: transparent;
}