.entry {
  border: 1px dashed gray;
  background-color: white;
  padding: 0.5rem 1rem;
}

.status {
  border: 1px dashed gray;
  background-color: white;
  padding: 0rem 0.5rem;
}

.moveCursor {
  cursor: move;
}

.pointerCursor {
  cursor: pointer;
}

.defaultCursor {
  cursor: default;
}

.itemDrag {
    opacity: 0
}

.itemNoDrag {
    opacity: 1
}

.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  z-index: 1;
}

.upload {
    position: relative;
    border: 1px dashed gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload:hover,
.upload.dragover {
    opacity: 0.6;
}

.layoutUpload {
  display: none;
}